<app-workshop-nav />

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="component-menu" aria-label="Open components">
          <ion-icon name="menu" />
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Edit contact</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <main class="edit-contact-shell">
      <div class="edit-contact-form">
        <app-contact-form
          [firstName]="contactStore.firstName()"
          [lastName]="contactStore.lastName()"
          [phoneNumbers]="contactStore.phoneNumbers()"
          [notes]="contactStore.notes()"
          [canSave]="contactStore.canSave()"
          (firstNameChange)="contactStore.setFirstName($event)"
          (lastNameChange)="contactStore.setLastName($event)"
          (notesChange)="contactStore.setNotes($event)"
          (addPhoneNumber)="contactStore.addPhoneNumber()"
          (updatePhoneNumber)="contactStore.updatePhoneNumber($event.id, $event.value)"
          (removePhoneNumber)="contactStore.removePhoneNumber($event)"
          (saveContact)="contactStore.save()"
        />
      </div>
    </main>
  </ion-content>

  <ion-toast
    [isOpen]="!!contactStore.savedMessage()"
    [message]="contactStore.savedMessage()"
    [duration]="1500"
    position="bottom"
    (didDismiss)="contactStore.clearSavedMessage()"
  />
</div>
